header {
  border-bottom: 1px solid black;
  text-align: center;
}

main {
  width: 800px;
}

aside {
  position: fixed;
  right: 10px;
  bottom: 50%;
  text-align: center;
  width: 180px;
  border: 1px solid black;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
}

section.bloco {
  position: fixed;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  text-align: justify;

}

button {
  background-color: black;
  color: white;
  font-family: serif;
}

 aside.botao:active {
  color: white;
  background-color: black;
}

button:active {
  background-color: white;
  color: black;
}
